.budget-details label{
        border: 1px solid transparent;
            height: 115px;
            max-width: 260px;
            width: 100%;
            border-radius: 34px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
.budget-item{
    position: relative;
    width: 100%;
        max-width: 285px;
}
.budget-details .input-fields-container {
position: relative;
    padding-top: 20px;  
    justify-content: center;
   
}
.budget-details input[type=radio] {
   position: absolute;
   top: 41%;
   left: 8%;
}
.budget-details  span.error{
    position: absolute;
        margin-left: 20px
}