.input-container {
    position: relative;
}
.input-container input{
        width: calc(100% - 44px);
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        color: #6F6C90;
}

.input-container button {
    position: absolute;
    top: 12px;
    right: 10px;
    padding: 10px;
}
