.footer-container{
    clear: both;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
footer{
    padding:60px 0;
   
}
.mail-box{
    width: 100%;
    max-width: 500px;
}